body{
    font-family: fantasy;
}

.container{
    display:flex;
    /*flex-direction:row;
    flex-wrap:wrap;*/
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 5px;
}

.item{
    background-color: burlywood;
    padding: 10px 20px;
    width:150px;
}