<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Madrugada</title>
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1 >Movies & TV Shows</h1>
            </header>
            <div id="wrapper2">
            <nav>
                <ul>
                    <li><a href="layout.html">Movies & TV Shows</a></li>
                    <li><a href="#">Videogame</a></li>
                    <li><a href="#">Books</a></li>
                    <li><a href="#">Comics</a></li>
                </ul>
            </nav>
            <main>
                <div class="clear">
                    <figure id="moviespic">
                        <img src="movies.jpg" alt="cinema">
                        <figcaption>Cinema</figcaption>
                    </figure>
                    <p>
                        <strong>Critique of Modern Movies:</strong>
                    </p>
                    <p>
                        Movies nowadays are not as good as before. Films often focus more on looks or agendas instead of telling good stories. This makes characters less interesting and harder to connect with.
                    </p>
                    <p>
                        One big example of this issue is how female lead characters are shown. When they are made to seem perfect or strong from the beginning, they do not have flaws. When characters cannot show weakness or make mistakes, it is hard for viewers to relate to them. Real growth in a character comes from facing challenges and making errors, learning from their mistakes. If characters are always strong and right, they feel less real, and audiences cannot see themselves in them, making them two-dimensional and boring.
                    </p>
                    <p>
                        In conclusion, while movies change to show new ideas, they should not forget the basics of storytelling. Characters should be layered and grow from their flaws. Films should reflect the complicated nature of life, with both good and bad moments. Although the cinematic point of view is important, storytelling matters more. It cannot be all looks with no substance. Only then can modern cinema truly connect with people and make them feel something meaningful.
                    </p>
                </div>
            </main>
            </div>
        </div>
        <footer>
            <p>&copy; 2024 Natalia Madruga</p>
        </footer>
    </body>
</html>
