body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #257180;
    background-color: #CB6040;
}

header {
    width: 0 auto;
    background-image: url('popcorn.jpg'); 
    background-size: cover; 
    color: #F2E5BF;
    text-shadow: 2px 2px 3px black;
    padding: 20px; 
    text-align: center; 
    font-family: 'Georgia', serif;
    font-style:normal;
    margin: 0 auto;
    
}

#wrapper {
    width: 800px;
    padding: 0 0px 0px 0px;
    margin:  0 auto;
    background-color: #F2E5BF;
}

#wrapper2 {
    padding: 0 10px 90px 10px;
}

#moviespic {
    width: 200px;
    border: thin solid black;
    float: right;
    
}


#movies img {
    width: auto;
    height: auto;
}


.clear {
    clear: both;
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    display: block;
    background-color: #CB6040;
    color: #F2E5BF;
    padding: 10px 40px;
    margin-left:5px;
    float: left;
    text-transform: uppercase; 
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 1px 1px 2px black; 
    border-radius: 10px;
}

nav a:hover {
    color: beige;
    background-color: red;
    box-shadow: 0 4px 8px black; 
}

footer {

    color: #F2E5BF;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    font-size: 15px; 
}