
body{
    background-color:#F5E7B2;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color:#F9D689;
    padding: 10px 20px;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #855e2d;
}

nav a{
    color:#ffffff;
    text-decoration: none;
}

nav a:hover{
    text-decoration:underline;
}
.side{
    display: flex;
    flex-direction: row-reverse;
}

.rate caption{
    text-align: left;
}

.rate{
    border-spacing: 15px;
    border-collapse: collapse;
    caption-side: bottom;
    box-shadow: 10px 9px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #8b2424;
}

.rate thead{
    background-color: #973131;
    color: white;
}


.rate tbody tr:nth-child(odd){
    background-color: #E0A75E;
}

.rate tbody tr:nth-child(even){
    background-color: #F9D689;
}

.rate td {
    padding: 15px;
}

.rate tfoot {
    background-color: #973131; 
    color: white;
    font-weight: bold; 
    text-align: center;
}

aside{
    width: 40%;
    padding: 1%;

}

aside p{
    
    text-align: end; 
}