body{
    background-color: #EEEEEE;
    font-family:Arial, Helvetica, sans-serif;
    margin:0;

    width: 100%;
}

header{
    background-color:#3B1E54;
    color: aliceblue;
    padding: 10px 10px;
    margin: 0;

}

.container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 5px;
    background-color: #9B7EBD;
    padding: 5px 10px;
    
}

.sidebar {
    display: flex;
    row-gap: 5px;
    height: 100%;
    background-color: #9B7EBD;
    width: 100%;
}


aside {
    width: 30%;
    padding: 50px;
    box-sizing: border-box;
    height: 100%;
}

main{
    
    background-color: #D4BEE4;
    margin:0;
    width:70%;
}
nav{
    margin: 0;
    padding: 0;
    
}

.profile{
    padding: 100px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 5px; 
}

.catpic {
    width: 200px;
    border: thin solid black;
    float: right;
    box-shadow: 2px 2px 3px black;
    
    
}

.links{
    background-color:#9B7EBD;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:inherit;
    text-align: center;
}

footer{
    background-color:#9B7EBD;
    padding: 10px 10px;
    margin: 0;

}