body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    background-color:aqua;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
        "header header header" 
        "lside main rside" 
        "footer1 footer2 footer3"
    ;
}

.item{
    background-color: aquamarine;
    border: thin solid #000;
}
.itemA{
    grid-area: lside;
}
.itemB{
    grid-area: rside;
}
.itemC{
    grid-area: header;
}
.itemD{
    grid-area: main;
}
.itemE{
    grid-area: footer1;
}
.itemF{
    grid-area: footer3;
}