body{
    background-color:#f8dc8d;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 20px 20px;
    background: url('capa.jpg') top right no-repeat;
    background-size: 100%;
    color: aliceblue;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #e79406;
}

nav a{
    color:#ffffff;
    text-decoration: none;
}

nav a:hover{
    text-decoration:underline;
}
