body{
    background-color:#F5E7B2;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color:#F9D689;
    padding: 20px 20px;
    background: url('capa.jpg') top right no-repeat;
    color: aliceblue;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #855e2d;
}

nav a{
    color:#ffffff;
    text-decoration: none;
}

nav a:hover{
    text-decoration:underline;
}
.side{
    display: flex;
}


aside{
    width: 40%;
    margin:10px
}

aside p{
    
    text-align: end; 
}