body{
    background-color:#f8dc8d;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 20px 20px;
    background: url('capa.jpg') top right no-repeat;
    background-size: 100%;
    color: aliceblue;
    text-shadow: 3px 3px 3px black;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #e79406;
}

nav a{
    color:#ffffff;
    text-decoration: none;
}

nav a:hover{
    text-decoration:underline;
}

.current{
    color:#e73827;
}

/*TABLE*/
.rate caption{
    text-align: left;
}

.rate{
    margin-top: 20px;
    border-spacing: 15px;
    border-collapse: collapse;
    caption-side: top;
    box-shadow: 10px 9px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #e86e23;
}

.rate thead{
    background-color: #e86e23;
    color: white;
}


.rate tbody tr:nth-child(odd){
    background-color: #FFAC79;
}

.rate tbody tr:nth-child(even){
    background-color: #F68E4E;
}

.rate td {
    padding: 15px;
}

.rate tfoot {
    background-color: #e86e23; 
    color: white;
    font-weight: bold; 
    text-align: center;
}
/*FORMS*/
fieldset{
    background-color: #FFC460;
    box-shadow: 2px 3px 1px black;

}

legend{
    background-color: #B87400;
    padding: 10px;
    border: thin solid black
    
}


select {
    border-radius: 15px;
    background-color: #ddd;
}

.form-line{
    display: flex;
    gap:15px;
    margin-top: 15px;
}

.form-line label{
    width: 150px;
    text-align: right;
    
}
.espaco{
    width:150px;
    
}

.form-line, .check-row{
    display: flex;
    gap:10px;
    margin: 10px;
    

}

textarea[type="submit"]{
    background-color: #ECDFCC;
    color: black;
    padding: 5px;
    border:0;

}

textarea:not([type="submit"]){
    background-color:#ddd;
    color: black;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
}

textarea:not([type="submit"]):focus{
    background-color: #fff;

}

select:focus{
    background-color: #fff;

}
input[type="submit"]{
    background-color: #ECDFCC;
    color: black;
    padding: 5px;
    border:0;
    border-radius: 15px;

}

input:not([type="submit"]){
    background-color:#ddd;
    color: black;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 15px;
}

input:not([type="submit"]):focus{
    background-color: #fff;
    
    
}
/*MAIN*/
.coluna {
    width: 25%;
    padding: 12px;
    height: 458px;
    width: 200px;
    border: thin solid black;
    box-shadow: 5px 5px 0 #000000; 
    margin: 10px;
    background-color: #ffffff;
}

.fila {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

iframe{
    border-width: 0px;
}

main{
    padding: 10px;
}

#recipes{
    text-align: center;
    font-size: large;
}
.recipe{
    background-color:#FFC460;
    box-shadow: 2px 2px 1px;
    margin: 20px; 
    border:thin solid #262525;
    padding-left: 10px;
    
}

/*SMALL SCREENS*/
@media only screen and (max-width: 700px){

    header{
        text-align: center;
    }

    nav{
        flex-direction: column;
        text-align: center;
    }
        
    nav a{
        /*border-bottom: thin solid black;*/
        color:rgb(255, 255, 255);
    }
    .form-line, .check-row{
        flex-direction: column;
        
    }
    .form-line label, .espaco{
        text-align: left;
    }
    .fila {
        flex-direction: column;
    }
    .rate {
        width: 70%;
        height: auto;
    }
    
    iframe, video {
        width: 100%; 
        height: auto; 
    }
}