body{
    font-family: Arial, Helvetica, sans-serif;
    color:#232368;
    background: url('capa.jpg') #faebd7;

}

header{
    background: url('bandeira.jpg') top right no-repeat;
}
main{
    
    font-family:fantasy;
}

.list{

   list-style-image:url("image.png");
}

nav a{
    color:red;
}

.current{
    color:purple;
}