body{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    background: url('capa.jpeg') #faebd7;

}

header{
    background: url('bandeira.jpg') top right no-repeat;
}
main{

    font-weight: bold;
}

.list{

   list-style-image:url("image.png");
}
